/* Layout.module.css */

.container {
  display: flex;
}

.sidebar {
  flex: 0 0 200px; /* Largura fixa da barra de navegação */
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


.sidebar.whiteTheme {
    background-color: whitesmoke; /* Cor de fundo da barra de navegação */
    color: #000000;
    }
    
    
.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  padding: 10px;
}

.navItem a {
  color: #000000; /* Cor dos links na barra de navegação */
  text-decoration: none;
}

.navItem a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
}

.goBackButton {
  margin-bottom: 20px;
}

.darkTheme {
  background-color: #222; /* Cor de fundo do tema dark */
  color: #fff; /* Cor do texto no tema dark */
}

.darkTheme .navItem a {
  color: #fff; /* Cor dos links no tema dark */
}

.darkTheme .navItem a:hover {
  text-decoration: underline;
}

.darkTheme .sidebar {
  background-color: #222; /* Cor de fundo da barra de navegação no tema dark */
}

